
<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <app-mast-header></app-mast-header>
    </div>
  </div>
  <div class="row">
      <div class="col-md-offset-4 col-md-4">
      <router-outlet></router-outlet>
     </div> 
  </div>
  <div class="row">
      <div class="col-md-offset-4 col-md-4">
      <app-mast-footer></app-mast-footer>
    </div>  
  </div>
      
</div>
<!--The content below is only a placeholder and can be replaced.-->
<!---
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
   <input type="text" #userInput (keyup)="onButtonClick(userInput.value)"/><br>
  <input type="text" [value]="title"/><br>
  <input type="text" value={{title}}/><br>
  <button (click)="onButtonClick(userInput)">Click me</button> 

  <input type="text" #userInput (keyup)="onButtonClick(userInput.value)"/><br>
  <input type="text" [value]="title" #userInput2 (keyup)="onButtonClick(userInput2.value)"/><br>
  <input type="text" value={{title}} #userInput3 (keyup)="onButtonClick(userInput3.value)"/><br>
  <button class="btn btn-primary" (click)="onButtonClick(userInput)">Click me</button>

</div>
-->
