<form>
  <div class="form-group">
    <label for="firstname" class="control-label">First Name</label>
    <input type="text" id="firstname" class="form-control">
  </div>
  <div class="form-group">
    <label for="lastname" class="control-label">Last Name</label>
    <input type="text" id="lastname" class="form-control">
  </div>
          
  <div class="form-group">
    <label for="email" class="control-label">Email</label>
    <input type="text" id="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="password" class="control-label">Password</label>
    <input type="password" id="password" class="form-control">
  </div>
  <div class="form-group">
    <label for="conf-password" class="control-label">Confirm Password</label>
    <input type="password" id="conf-password" class="form-control">
  </div>  

  <div class="form-group">
      <button class="btn btn-primary btn-block btn-lg">Register</button>
  </div>  
</form>